body {
	font-family: 'Futura', 'Helvetica', sans-serif;
	
}
a {
	display: inline-block;
	text-decoration: none;
	font-weight: 500; 
	letter-spacing: 0.05rem;
	margin: 41px 20px;
	color: #000000;
}


h1, h2 {
	text-transform: lowercase;
	font-weight: 700;
}

h1 {
	font-size: 5rem;
	line-height: 6rem;
	margin: 1.2rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	margin: 50px 0;
}

nav {
	height: 100px;
}

header {
	background-color: #F7D320;
	height: 500px;
}

/* container to set width of page content */	
.container_main {
	margin: auto;
	width: 81%;
	
}

/* to center text */
.text_center {
	text-align: center;
}

.title {
	float: left;

}

.top_nav_content {
	float: right;
	
	
}

/* main intro callout box */

.callout {
	display: inline;
	overflow: auto;
	margin: auto;
	width: 80%;
}

.callout_left {
	float: left;
}

.callout_right {
	float: right;
	position: relative;
	right: 10%;
}

/* portfolio section */

.portfolio_box {
		display: flex;
}

.box1, .box2, .box3  {
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px 20px;
	width: 33%;
	height: 300px;
}

.box1 {
		background-color: #FFE2D1;
}

.box2 {
	background-color: #6BC4BA;
}

.box3 {
	background-color: #DBDBDB;
}




