body {
	font-family: 'Futura', 'Helvetica', sans-serif;
	
}
a {
	display: inline-block;
	text-decoration: none;
	font-weight: 500; 
	letter-spacing: 0.05rem;
	margin: 41px 20px;
	color: #000000;
}


h1, h2 {
	text-transform: lowercase;
	font-weight: 700;
}

h1 {
	font-size: 5rem;
	line-height: 6rem;
	margin: 1.2rem;
}

h2 {
	font-size: 2.5rem;
}

nav {
	height: 100px;
}

header {
	background-color: #F7D320;
	height: 500px;
}

/* container to set width of page content */	
.container_main {
	margin: auto;
	width: 80%;
	
}

/* to center text */
.text_center {
	text-align: center;
}

.title {
	float: left;

}

.top_nav_content {
	float: right;
	
	
}

.callout {
	display: inline;
	overflow: auto;
	margin: auto;
	width: 80%;
}

.callout_left {
	float: left;
}

.callout_right {
	float: right;
	position: relative;
	right: 10%;
}

