
/* contact section */
.contact_panel {
    height: 320px;
    background-color: $accent-grey-color;
    padding-top: 40px;
    
    
        .contact_panel_a {
            display: block;
            .email {
                border-bottom: 1px solid $accent-grey-color;
                padding-bottom: 10px;
                margin-top: 18px;
                /* to add underline, when you hover over the email: */
                &:hover {
                    border-bottom: $border-bottom;
                }    
            }
        }
        .social_media_box {
            display: inline-block;
            a {
                margin: 0;
            }
            img {
                max-width: 80px;
                padding: 20px 30px
            }
        }
 

    @include responsiveMobile() {
        height: 280px;
      
      .email {
        font-size: 0.9rem;
        margin: 20px 2px;
      }
      .social_media_box {
        img {
            max-width: 60px;
            padding: 10px 20px;
            }
        } 
    }
}
  
  
  
