/* footer section */
footer {
  background-color: $main-yellow-color;
  height: 50px;
  overflow: auto;

  .copyright {
    font-weight: 200;
    font-style: italic;
    font-family: $main-san-serif-font;
    font-size: 0.8rem;
    float: left;
    margin: 11px auto;
  }

  @include responsiveMobile() {
    .copyright {
      font-size: 0.7rem;
    }
    .text {
      margin: 70px 0;
    }
  }
}
  

  
