/* main intro callout box */

/* large yellow callout background */
header {
  background-color: $main-yellow-color;
  height: auto;
  padding: 180px 0 160px 0px;
  margin: 0px 0 120px 0;

  .callout {
    display: inline;
    overflow: auto;
    margin: auto;

    @keyframes movingText {
      from {
        transform: translateX(-50%);
      }

      to {
        transform: translateX(0%);
      }
    }
    /* 'hey there' text */
    .callout_left {
      animation-name: movingText;
      animation-duration: 3s;
      text-align: left;
    }
    /* 'nice to see you' text */
    .callout_right {
      display: block;
      text-align: right;
      animation-name: movingText;
      animation-duration: 3s;
    }

    @include responsiveLarge() {
      .callout_left {
        margin-left: 16%;
      }

      .callout_right {
        margin: 0 16% 0 10%;
      }
    }
  }
  @include responsiveMobile() {
    padding: 100px 0 80px 0;
    margin: 0px 0 60px 0;
    /* 'hey there' text */
    .callout_left {
      font-size: 3rem;
      line-height: 5rem;
      margin: 10% 0 0 12%;
      /* 'nice to see you' text */
      .callout_right {
        margin: 5% 10% 0 10%;
      }
    }
  }
}


  
  
  
  
   

  