/* nav bar */
nav {
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: $background-color;
  border-bottom: 4px solid $accent-peach-color;

  .main-menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    .menu-toggle,
    .menu-close {
      display: none;
    }

    .nav_links {
      position: relative;
      height: 100%;
      ul {
        list-style: none;
        display: flex;
        margin: 0;

        a {
          margin: 40px 0 40px 40px;

          &:hover {
            border-bottom: $border-bottom;
          }
        }
      }
    }

    .nav_logo {
      width: 200px;
      height: 100px;
      margin: 0;
      background-image: url("../../images/hg_logo.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
      // display: block;
    }
  }
}

@include responsiveMobile() {
  nav {
    height: auto;
    min-height: 90px;
    .main-menu {
      /* Button styling */
      .menu-toggle {
        display: inline-block;
        padding: 12px 5px;
        line-height: 2rem;
        font-size: 2rem;
        color: #000000;
        position: absolute;
        right: 5%;
        top: 20px;
        margin: 0;
      }

      .menu-toggle:hover,
      .menu-toggle:focus {
        color: #f7d320;
      }
      .nav_logo {
        position: absolute;
        left: 5%;
        top: 5px;
        width: 150px;
        height: 80px;
      }
      .nav_links {
        position: fixed;
        display: none;
        right: -200px;
        top: 0;
        height: 100%;
        overflow-y: scroll;
        overflow-x: visible;
        transition: right 2s ease, box-shadow 2s ease;
        -webkit-transition: right 2s ease, box-shadow 2s ease;
        -moz-transition: right 2s ease, box-shadow 2s ease;
        z-index: 999;

        &:target {
          display: block;
          right: 0;
          outline: none;
          -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
          -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
          .menu-close {
            z-index: 1001;
          }
          ul {
            position: relative;
            z-index: 1000;
          }
          + .backdrop {
            position: fixed;
            display: block;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 998;
            background: rgb(247, 211, 32, 0.8);
            cursor: default;
            margin: 0;
          }
        }

        ul {
          // list-style: none;
          display: block;
          margin: 0;
          padding: 2.5rem 0 0;
          /* Hide shadow w/ -8px while 'closed' */
          -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
          min-height: 100%;
          width: 200px;
          background: #fff;
        }
        li {
          border-top: 1px solid #000;
          display: list-item;
          a {
            margin: 0;
            font-size: 1rem;
            width: auto;
            display: block;
            padding: 1.2rem 15px;
            line-height: 1rem;
            &:hover,
            &:focus {
              background: #dbdbdb;
            }
          }
        }
        .menu-close {
          font-size: 1.5em;
          margin: 10px;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}

@supports (position: fixed) {
  .nav_links,
  .nav_links:target + .backdrop {
    position: fixed;
  }
}
