// color variables
$main-yellow-color: #f7d320;
$accent-peach-color: #ffe2d1;
$accent-grey-color: #dbdbdb;
$body-text-color: #000000;
$background-color: #ffffff;

// type variables
$main-san-serif-font: 'Futura', 'Jost', sans-serif;
$paragraph-serif-font: 'Playfair Display', serif;
$font-size-xlarge: 5rem;
$font-size-large: 2rem;
$font-size-regular: 1rem;
$font-weight-bold: 700;
$font-weight-regular: 500;